<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mycyl" >
    <link name="mycyl">
        <inertial>
            <origin xyz="0 0 0" />
            <mass value="0.05" />
        <inertia  ixx="0.0001" ixy="0"  ixz="0"  iyy="0.0001"  iyz="0"  izz="0.0001" />
        </inertial>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.025" length="0.05"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.025" length="0.05"/>
            </geometry>
        </collision>
    </link>
    <gazebo reference="mycyl">
        <material>Gazebo/Gold</material>
        <mu1>0.4</mu1>
        <mu2>0.3</mu2>
        <kp>10000</kp>
        <kd>1</kd>
    </gazebo>
</robot>
