<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="True" doc="Starts gazebo gui" />
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="true"/>
  <arg name="debug" default="false"/>
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find myur5e_gazebo)/worlds/myempty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find myur5e_description)/cfg/custom_rosconsole.conf"/>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find myur5e_description)/urdf/myur5e_robot.urdf.xacro'" />
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot" respawn="false" output="screen" />

  <!-- load controllers -->
  <include file="$(find myur5e_gazebo)/launch/myur5e_controllers.launch" />

  <!-- MOVEIT Component -->
  <include file="$(find myur5e_gazebo)/launch/myur5e_planning_execution.launch"/>

  <!-- vision Component -->
  <!-- <node pkg="perception_modul" name="vision_node" type="myvision.py" output="screen"/> -->

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <!-- <include file="$(find myur5e_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find myur5e_moveit_config)/launch/moveit.rviz"/>
    <arg name="debug" value="false"/>
  </include> -->

</launch>